# General
/.vscode
.prettierrc

# frontend react
/frontend/node_modules
/frontend/.pnp.js
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnp
/frontend/coverage
/frontend/build
/frontend/src/assets/sass

# backend nodejs
/backend/node_modules
/backend/.env.local
