body {
  background-color: rgb(52, 47, 61);
}

#menu-container {
  background-color: rgb(41, 37, 48);

  .navbar-nav.me-auto.mb-2.mb-lg-0 {
    font-size: 20px;
  }

  div ul li {
    padding-left: 5em;

    a {
      color: #9b9b9b;
    }

    a:hover {
      border-radius: 10px;
      color: #ccc;
    }
  }
}

.tittle-container {
  display: grid;
  width: 100%;
  justify-content: center;
  color: azure;
  font-size: 40px;
  margin-top: 15px;
}

#form-contact {
  padding: 50px;
  max-width: 800px;

  #form-input {
    margin: 20px;
    width: 350px;
    height: 40px;
    text-align: center;
    align-content: center;
    border: 1px solid #ccc;
    color: #ccc;
  }

  #form-input:hover {
    background-color: rgb(173, 173, 173);
    color: black;
  }
}

h4 {
  color: aliceblue;
}
